.detail-quiz-container{
    display: flex;
    gap: 20px;
    padding: 50px;
    .left-content{
        border: 2px solid #ccc;
        width: 70%;
        padding: 20px;
        border-radius: 7px;
        box-shadow: 5px 5px #797676;
        .title{
           font-size: 30px; 
           font-weight: 600;
        }
        .q-content {
            text-align: center;
            .question{
                font-size: 20px;
                font-weight: 600;
                padding: 20px 0;
            }
            .answer {
                .a-child{
                    text-align: left;
                    padding-left: 50px;
                }
            }
            .q-image {
                width: 100%;
                height: 100px;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .footer {
            margin: 25px;
            display: flex;
            gap: 15px;
            justify-content: center;
        }
    }
    .right-content{
        border: 2px solid #fd7b01;
        width: 30%;
        padding: 20px;
        border-radius: 7px;
        box-shadow: 5px 5px #a87426;
        .main-timer {
            border-bottom: 1px dashed;
            padding: 10px 0px;
            text-align: center;
            background-color: #fd7b01;
            border-radius: 1em;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .main-question{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            .question{
                border: 1px solid rgb(124, 100, 100);
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    border: 1px solid rgb(224, 19, 19);
                }
                &.selected {
                    background-color: #ec8003;
                }
                &.clicked {
                    color: red;
                }
            }
        }
    }
}