.admin-container {
    display: flex;
    margin-top: 17px;
    .admin-sidebar {
        .pro-sidebar{
            height: 100vh;
        }
    }
    .admin-content{
        width: 100%;
        .admin-header{
            margin-bottom: 15px;
            height: 40px;
            border: 1px solid rgb(136, 129, 99)
        }
        .admin-main{
            height: calc(100vh - 80px);
            .user-pagination{
                display: flex;
                justify-content: center;
            }
        }
    }
}