.questions-container{
    padding: 15px;
    width: 70%;
    margin: 0 auto;
    .title{
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    .questions-content{
        display: flex;
        gap: 20px;
        .description {
            width: 50%;
        }
        .group-upload {
            display: flex;
            align-items: center;
            gap: 20px;
            .label-upload{
                color: white;
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                padding: 3px 10px;
                border-radius: 10px;
                background-color: #7c0afd;
                cursor: pointer;
                &:hover {
                    background-color: #0a90e9;
                    transition: 1s;
                }
            }   
        }
        .btn-add{
            display: flex;
            align-items: center;
            .icon-add{
                font-size: 30px;
                color: rgb(219, 161, 85);
                cursor: pointer;
                &:hover{
                    color: rgb(248, 154, 2);
                }
            }
            .icon-remove{
                font-size: 30px;
                color: rgb(99, 224, 115);
                cursor: pointer;
                &:hover{
                    color: rgb(1, 248, 34);
                }
            }
        }
    }
    .answer-content{
        padding-left: 20px;
        padding-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        .iscorrect{
            font-size: 20px;
        }
        .answer-name{
            width: 60%;
        }
        .btn-group {
            .icon-add{
                font-size: 30px;
                color: rgb(219, 161, 85);
                cursor: pointer;
                &:hover{
                    color: rgb(248, 154, 2);
                }
            }
            .icon-remove{
                font-size: 30px;
                color: rgb(99, 224, 115);
                cursor: pointer;
                &:hover{
                    color: rgb(1, 248, 34);
                }
            }
        }
    }
}